<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div id="app">
<li>{{ first }}</li>
<li>{{ last }}</li>
First<input type="text" v-model="first" name="">
Last<input type="" name="" v-model="last">
</div>
<script src="https://unpkg.com/vue@2.3.4"></script>
<script>
new Vue({
el: '#app',
data: {
first:'Maung',
last:'Then Line'
  }
})
</script>
</body>
</html>

